/bootstrap/compiled.php
composer.phar
composer.lock
.DS_Store
/.idea
/app/config/database.php
/app/config/queue.php
app/storage/sessions/*
app/storage/views/*
app/storage/cache/*
app/storage/logs/*
app/storage/meta/*
/vendor
/uploads