/www/bootstrap/compiled.php
/www/composer.phar
/www/composer.lock
.DS_Store
/.idea
/.vagrant
/www/app/config/database.php
/www/app/config/settings.php
/www/app/config/queue.php
/www/www/app/storage/sessions/*
/www/app/storage/views/*
/www/app/storage/cache/*
/www/app/storage/logs/*
/www/app/storage/meta/*
/www/vendor
/www/media

